body{
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header{
    text-align: center;
    color: white;
    line-height: 1;
}
.headerTitre{
    margin: 70px 0px;
}
header h1{
    font-size: 65px;
    margin-bottom: 0%;
}
header p{
    font-weight: lighter;
    margin-top: 0%;
}
/* Fin Header */


/* SECTION 1 - Image */
.containerBlanc{
    margin: 0% 16%;
    background-color: white;
}
    /* Grande image */
.Img02 img{
    width: 100%;
}
    /* Titre 1 */
.titre1{
    text-align: center;
    margin-top: 60px;
}
.titre1>p{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(202, 188, 188);
    letter-spacing: 3px;
    padding-bottom: 60px;
    margin-bottom: 0%;
}
.titre1>p::before{
    content: "";
    position: absolute;
    text-align: center;
    width: 110px;
    height: 1px;
    margin-top: -12px;
    background-color: rgb(202, 188, 188);
}
/* Fin Section 1 */

/* Section 2 : Contenu 2 - Texte */
.Beige{
    color: gray;
    background-color: rgb(248, 242, 232);
    margin: 0% 16%;
}
.contenu2{
    padding: 7%;
    margin: 0%;
}
.contenu2>p:first-of-type{
    margin-bottom: 30px;
}
/* Fin Section 2 */

/* Section 3 : Gallerie */
.Bmarine{
    background-color: rgb(21, 25, 36);
    margin: 0% 16%;
    padding: 5%;
}
    /* Titre 2 */
.titre2{
    text-align: center;
    background-color: rgb(1, 5, 15);
    padding: 15px;
}
.titre2>h2{
    color: white;
}
.titre2>p{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(119, 111, 111);
    letter-spacing: 3px;
    padding-bottom: 20px;
    margin-bottom: 0%;
}
.titre2>p::before{
    content: "";
    position: absolute;
    text-align: center;
    width: 110px;
    height: 1px;
    margin-top: -12px;
    background-color: rgb(119, 111, 111);
}
    /* Gallerie */
.gallerie1{
    display: flex;
}
.gallerie1 div{
    display: flex;
    flex-wrap: wrap;
}
.gallerie1 img{
    width: 100%;
}
/* Fin Section 3 */


/* Section 4 */
.container{
    margin: 0% 16%;
}
.flex{
    display: flex;
}
.Img{
    flex: 1;
}
.vide{
    background-color: rgb(248, 242, 232);
    padding-top: 5%;
    flex: 1;
}
.description1{
    background-color: white;
}
.description1>div{
    padding: 7%;
    margin: 9%;
    margin-bottom: 0%;
}
/* Fin Section 4 */


/* Section 5 */
.description2{
    background-color: rgb(21, 25, 36);
    flex: 1;
}
.description2>div{
    padding: 7%;
    margin: 9%;
    margin-bottom: 0%;
    text-align: right;
}
.description2 h3{
    color: white;
}
.description2 p{
    color: rgb(119, 111, 111);
}
